
<section class="container mx-auto my-8 p-4 flex items-center">
    <div class="flex-shrink-0 w-1/2">
        <img src="../assets/img/cat.png" alt="Description Image" class="w-full h-auto rounded-lg">
    </div>
    <div class="flex-grow w-1/2 flex items-center justify-center text-center">
        <p class="text-lg text-gray-700">
            well.. This is the description text that goes alongside the image. It can be a brief overview or any relevant information you want to provide. Make sure to keep it concise and engaging!
        </p>
    </div>
</section>